body {
    text-align:center;
    background-color:  #FBF6E9;
}
h1 {
    font-size: 5rem;
    text-align: center;
    color: #118B50; 
}
img {
    width: 100%;
}
i {
    color: #FB4141;
}
.main {
    display: flex;
    justify-content: space-evenly;
}
.players p {
    font-size: 2rem;
    color: #2E5077;
}

